*, *:before, *:after {
    box-sizing: border-box;
}

body, input, textarea, h1 {
    font-family: Nunito, sans-serif;
    font-size: 12pt;
}

body {
    display: flex;
    justify-content: center;
    transition: 0.25s background ease-in;
}

body[emotion="pos"] {
    background: linear-gradient(to right, #11998e, #38ef7d);
    color: white;
}

body[emotion="neg"] {
    background: linear-gradient(to right, #eb3349, #f45c43);
    color: white;
}

#main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    max-width: 80%;
}

#toggle {
    cursor: pointer;
    background: rgba(0, 0, 0, 0.25);
    height: 4px;
    width: 32px;
    border: 0;
    bottom: 0;
    right: 8px;
    position: absolute;
    transition: 0.125s height ease-in;
}

#toggle:hover {
    height: 8px;
}

#sentence {
    font-size: 48pt;
    text-align: center;
}

#form {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: white;
    position: absolute;
    width: 50%;
    height: 80%;
    padding: 16px 32px;
    align-self: center;
    border-radius: 8px;
}

.hidden {
    display: none;
}

input, textarea {
    border: 1px solid #d3d3d3;
    border-radius: 8px;
    width: 100%;
    font-size: 16pt;
    padding: 16px;
    margin: 4px 0;
}

textarea {
    height: 128px;
}

#ready {
    margin-top: 8px;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: 0;
    background: #eb3349;
    font-size: 16pt;
    color: white;
}

h1 {
    font-size: 28pt;
    margin-bottom: 16px;
}

#done {
    background: rgba(0, 0, 0, 0.25);
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}